<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>learnVue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style type="text/css">
		div{
			margin: 20px auto;
			padding: auto;
			text-align: center;

		}
	</style>
</head>
<body>
	<div id="demo1">
		{{message}}
	</div>
	<script type="text/javascript">
		var demo1 = new Vue ({
			el: '#demo1',
			data:{
				message: 'helloVue！'
			}
		})
	</script>

	<div id="demo2">
		<span v-bind:title = "message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</span>
	</div>
	<script type="text/javascript">
		var demo2 = new Vue ({
			el: '#demo2',
			data:{
				message: 'hello骆林芝！'
			}
		})
	</script>

	<div id="demo3">
		<ol>
			<li v-for="x in messages">
				{{x.text}}
			</li>
		</ol>
	</div>
	<script type="text/javascript">
		var demo3 = new Vue ({
			el: '#demo3',
			data:{
				messages:[
					{text:'aaaaa'},
					{text:'bbbbb'},
					{text:'ccccc'},
				]
			}
		})
	</script>

	<div id="demo4">
		<span>单个复选框:</span>
		<br>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
	</div>
	<script type="text/javascript">
		var demo4 = new Vue ({
			el: '#demo4',
			data: {
				checked: false
			}
		})
	</script>

	<div id='demo5'>
		<span>多个复选框:</span>
		<br>
	  	<input type="checkbox"  value="Jack" v-model="checkedNames">
	  	<label for="jack">Jack</label>
	  	<input type="checkbox"  value="John" v-model="checkedNames">
	  	<label for="john">John</label>
	  	<input type="checkbox"  value="Mike" v-model="checkedNames">
	  	<label for="mike">Mike</label>
	  	<br>
	  	<span>Checked names: {{ checkedNames }}</span>
	</div>
	<script type="text/javascript">
		var demo5 = new Vue({
  			el: '#demo5',
  			data: {
				checkedNames: []
 			}
		})
	</script>

	<div id="demo6">
		<span>单选按钮:</span>
		<br>
  		<input type="radio" id="one" value="One" v-model="picked">
  		<label for="one">One</label>
  		<br>
  		<input type="radio" id="two" value="Two" v-model="picked">
  		<label for="two">Two</label>
  		<br>
  		<input type="radio" id="two" value="Three" v-model="picked">
  		<label for="three">Two</label>
  		<br>
  		<span>Picked: {{ picked }}</span>
	</div>
	<script type="text/javascript">
		var demo6 = new Vue({
			el: '#demo6',
			data: {
				picked: ''
			}
		})
	</script>

	<div>
		<span>选择框</span>
		<br>
		<div id="demo7">
			<select v-model="selected">
				<option disabled value="">请选择</option>
			    <option>A</option>
			    <option>B</option>
			    <option>C</option>
  			</select>
			</select>
			<span>Selected:{{selected}}</span>
		</div>
	</div>
	<script type="text/javascript">
		var demo7 = new Vue({
			el: '#demo7',
			data:{
				selected: ''
			}
		})
	</script>

	<div>
		<div id="demo8">
			<select v-model="selected">
				<option v-for="item in options" v-bind:value="item.value">
					{{item.text}}
				</option>
			</select>
			<span>Selected:{{selected}}</span>
		</div>

	</div>
	<script type="text/javascript">
		var demo8 = new Vue({
			el:  '#demo8',
			data: {
				selected:'A',
				options:[
					{'text':'one','value':'A'},
					{'text':'two','value':'B'},
					{'text':'three','value':'C'}
				]
			}
		})
	</script>
</body>
</html>
